/********************************/
/* GENERAL */
/********************************/
h1, h2, h3, h4, h5 { font-family: Lato, sans-serif; }
p, li { font-family: Helvetica, 'Open Sans', ; font-size:16px; color: #333; line-height: 1.5; font-weight:300; }
a {font-weight:400;}
.thin {font-weight:300 !important;}
.thick {font-weight:400 !important;}
a:hover {text-decoration:none;}
ul { padding: 0px; }
ol { padding-left: 20px; }
pre { font-family: Consolas, Courier New, monospace !important; font-size:18px;}
strong {font-weight:700 !important;}
code {font-size:0.85em !important;}
.prism {
  margin-left:30px !important;
  border-left:1px solid #ccc !important;
  border-radius:3px !important;
}

@media (min-width: 768px) {
  #pageWrapper {
    margin-left:270px;
  }
}

#header {
  background-color:#E8F4FD;
  padding:40px 10% 40px 0px;
}

#header > p, #header > div {
  padding:0px 30px;
}

#header p {
  margin:0;
  font-size:18px;
  line-height:1.8;
}

#header p strong {
  font-weight:800;
  font-size:20px;
}

#header a {
  color:#0C7AD2; /*blue*/
  border-bottom:1px solid #C1DBEF;
}
#header a:hover {
  color:#00479F; /*blue+20%*/
}

.entry-header h1, .entry-header h2 a {
  color:#111;
  font-weight:bold;
}

.entry-header h1 a:hover {
   border-bottom:1px solid black;
}


/********************************/
/* BLOG */
/********************************/
#blogPosts {
  list-style:none;
  padding:0;
}

#blogPosts > li {
  padding:0px 0px 30px 30px;
  margin-right:10%;
  border-bottom:1px solid #ccc;
}

#blogPosts a {
  text-decoration: none;
}

#blogPosts a :hover {
  color:#000;
}

.entry-body-wrapper {
    padding:10px 30px 5px 0px;
}

.entry-detail .entry-body-wrapper {
  padding-left:30px;
}

.entry-detail .entry-body-wrapper h2,
.entry-list .entry-header h2 {
  font-size:2.2em;
  font-weight:bold;
}

.entry-list .entry-body-wrapper h2,
.entry-detail .entry-body-wrapper h3 {
  font-size:1.8em;
  font-weight:bold;
}

.entry-list .entry-body-wrapper h3,
.entry-detail .entry-body-wrapper h4 {
  font-size:1.5em;
  font-weight:bold;
}

.entry-detail .entry-body-wrapper p, .entry-detail .entry-body-wrapper li {
  font-weight:300;
  line-height:1.5;
}

.entry-list .entry-body-wrapper p, .entry-list .entry-body-wrapper li {
  font-weight:300;
  font-size:1.0em;
  line-height:1.5;
}

#postHeroImage {
    margin-top:30px;
    height:200px;
    width:100%;
}

.prism {
    border-left:0;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    overflow: visible;
    margin-right:2% !important;
}

.entry-date {
  text-transform: uppercase;
  font-size:1.0em;
  color:#aaa;
  margin-right:10px;
  position:relative;
  top:2px;
}

.entry-header-detail .entry-date {
  color:#888;
}

.entry-tag {
  padding:5px;
  margin-right:5px;
  border-radius:3px;
  font-size:10px;
  letter-spacing: 0.5px
}
a.entry-tag:hover {
  text-decoration:none;
}

.read-more {
  background-color: #377BB5;
  color:white;
  border-radius:10px;
  padding:2px 10px;
  font-weight:300;
  font-size:0.8em;
}

.read-more .fa {
  position:relative;
  bottom:1px;
}

.read-more:hover {
  background-color:#1E629C;
  color:white;
}

/********************************/
/* ARCHIVE */
/********************************/
#archiveWrapper {
  padding:20px 20px 20px 50px;
}

#entriesArchive h3 {
  text-transform: uppercase;
  font-size:1.5em;
  color:#888;
}

#entriesArchive li {
  position:relative;
  left:15px;
}

#entriesArchive li a {
  color:#F57A34;
  font-size:1.2em;
}

#entriesArchive li a:hover {
  color:#DC611B;
}

#categoriesArchive li {
  list-style:none;
}

#categoriesArchive li a {
  font-size:1.2em;
  color:#F57A34;
}

#categoriesArchive li a:hover {
  color:#DC611B;
}

#tagsList li {
  margin:0px 5px 5px 0px;
  display:inline-block;
}

/********************************/
/* ABOUT */
/********************************/
.q-and-a {
  padding:30px;
}

.q-and-a h1 {
  font-size:2.9em;
  font-weight:800;
  border-bottom:1px solid #888;
  padding-bottom:5px;
  margin-top:5px;
  margin-bottom:20px;
}

.q-and-a ul {
  list-style:none;
}

.q-and-a li {
  margin-bottom:20px;
}

.q-and-a a {
  border-bottom:1px solid #C2DBEE;
}

.question {
  font-weight:bold;
  font-size:2.1em;
}

.favorites {
  margin-left:0px;
  padding-left:10px;
}

.favorites li {
  margin-bottom:5px;
}


/********************************/
/* DISQUS */
/********************************/
.disqus-wrapper {
  padding:0 20px;
  margin-top:30px;
}

#comments {
  margin-top:30px;
  padding:0 20px;
}