{% extends 'base.html' %}

{% block content %}
<div class="q-and-a">
  <h1>Q &amp; A</h1>
  <ul>
    <li>
      <p class="question">Where do you live?</p>
      <div class="answer">
        <p>
          Grand Rapids, Michigan: home of <a href="http://www.artprize.org/">Artprize</a> (one of the world's great art festivals),
          <a href="http://www.mlive.com/business/west-michigan/index.ssf/2013/05/grand_rapids_wins_beer_city_us.html">Beer City, USA</a> according to a 2013 poll,
          the 2012 <a href="http://www.forbes.com/sites/tomvanriper/2012/04/04/the-best-cities-for-raising-a-family/">best place to raise a family</a> (we fell to 2<sup>nd</sup> overall in 2014),
          and overall the state of Michigan's best city.
        </p>
      </div>
    </li>

    <li>
      <p class="question">How/when did you get into programming?</p>
      <div class="answer">
        <p>
          Not until college, actually, which is different than most of my colleagues. I did grow up around computers, but for me that meant obsessively playing DOS-based computer games.
          I didn't write my first line of code until I was 20 years old.
          <br><br>
          Ultimately, I studied CS in school after realizing that, "Computers are probably going to control the rest of our lives.
          I might as well know how to use them."
        </p>
      </div>
    </li>

    <li>
      <p class="question">What's your favorite type of programming?</p>
      <div class="answer">
        <p>
          My professional career has been all about web development. Python is my favorite language, but I also love the sorts of problems posed by storing and fetching large amounts of relational data and powering slick UIs with JavaScript.
          <br><br>
          The type of pseudo-AI programming involved in making video games really excites me, but I don't plan on changing careers any time soon.
        </p>
      </div>
    </li>

    <li>
      <p class="question">What are your favorite hobbies?</p>
      <div class="answer">
        <p>
          For exercise, my friends and I play <a href="https://en.wikipedia.org/wiki/Ultimate_(sport)">ultimate frisbee</a>, which I think is best described as the perfect love-child of soccer/futbol and American football, except with a frisbee.
          <br><br>
          For non-exercise fun I love playing board games, immersive, story-driven video games, and occasionally doing some writing.
        </p>
      </div>
    </li>

    <li>
      <p class="question">Video games, eh? What are some of your favorites?</p>
      <div class="answer">
        <p>
          Whoa, holy good question, Batman! I suppose a few items from my all-time list, extending from early childhood to know, would include:
          <ul class="favorites">
            <li><a href="https://en.wikipedia.org/wiki/Master_of_Orion">Master of Orion</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Dune_II">Dune II</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Warcraft_II:_Tides_of_Darkness">WarCraft II</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/StarCraft">StarCraft (I and II)</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/Star_Fox_64">Star Fox 64</a>,</li>
            <li><a href="http://www.mariowiki.com/Mario_Kart_(series)">Mario Kart</a> (for the Nintendo 64 and Wii U),</li>
            <li><a href="https://en.wikipedia.org/wiki/The_Legend_of_Zelda:_Ocarina_of_Time">Legend of Zelda: Ocarina of Time</a>,</li>
            <li><a href="https://uo.com/">Ultima Online</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/X-COM:_Terror_from_the_Deep">XCOM: Terror from the Deep</a>,</li>
            <li><a href="https://en.wikipedia.org/wiki/XCOM:_Enemy_Within">XCOM: Enemy Unknown/Within</a>,</li>
            <li>and, of course, <a href="https://en.wikipedia.org/wiki/The_Elder_Scrolls_V:_Skyrim">Skyrim</a>.</li>
        </ul>
      </div>
    </li>

    <li>
      <p class="question">And you mentioned that you write?</p>
      <div class="answer">
        <p>
          Yep, or I try to at least. I'm currently reworking my main project and hope to release bits of it soon!
        </p>
      </div>
    </li>

    <li>
      <p class="question">Any favorite movies?</p>
      <div class="answer">
        <p>
          I almost never watch movies, but the best ever are clearly <i>Forrest Gump</i>, <i>Inception</i>, <i>The Dark Knight</i>, and <i>Gladiator</i>.
        </p>
      </div>
    </li>

    <li>
      <p class="question">What <i>really</i> excites you?</p>
      <div class="answer">
        <p>
          I think at this point in my life, probably getting outside and sportsing with friends. I'm almost 30 years old and my body still works,
          but joints are starting to hurt a bit more and I'm starting to get injured more easily, so I know that eventualy I won't be able to
          get out and play -- really <i>physically</i> play -- like I can now.
        </p>
      </div>
    </li>

    <li>
      <p class="question">Do you travel much?</p>
      <div class="answer">
        <p>
          I dabble in other places. Growing up I was lucky enough to have parents who valued travel, so I've been to quite a long list of countries. I've also been to every civilized continent except Australia. Still need to make it out to Sydney and New Zealand.
        </p>
      </div>
    </li>

    <li>
      <p class="question">What's your favorite place you've been?</p>
      <div class="answer">
        <p>
          Beyond any doubt, <strong>Iguasu Falls</strong>. It's the Niagara Falls of South America, except imagine replacing all the concrete and sleazy hotels with jungle, rainbows, and butterflies.
          <br><br>
          Seriously, it's unlike anywhere else on this earth. If you're not familiar, <a href="https://en.wikipedia.org/wiki/Iguazu_Falls">check it out</a>!
        </p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Iguassu_falls_rainbow.jpg" width="80%" />
        <br><br>
        <blockquote><small>Iguasu Falls is one of the world's true gems</small></blockquote>
      </div>
    </li>

    <li>
      <p class="question">What'd you use to build this website?</p>
      <div class="answer">
        <p>
          I probably should have used something like Ghost, Wordpress, or Squarespace, but my personal site has always been a playground of sorts for
          various Python libraries I've wanted to try. The core framework is good old fashioned <a href="https://www.djangoproject.com/">Django</a> hosted via <a href="https://www.digitalocean.com/">DigitalOcean</a>.
        </p>
      </div>
    </li>

    <li>
      <p class="question">It was good talking. Any closing thoughts?</p>
      <div class="answer">
        <p>
          Nope, I appreciate you having me on the show. Maybe next time send a real person so I don't have to interview myself.
        </p>
      </div>
    </li>

  </ul>
</div>
{% endblock content %}