{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/prism.css' %}">
{% endblock css %}

{% block innerHeader %}
  {% include 'blog/detail-entry-header.html' with entry=entry %}
{% endblock innerHeader %}

{% block content %}
  <div class="entry entry-detail">

    {% if entry.hero_image %}
      <img id="postHeroImage" src="{% static 'blog/you-are-thirty.jpg' %}" />
    {% endif %}

    <div class="entry-body-wrapper">
      {{ entry.body_html|safe }}
    </div> <!-- End of .entry-body-wrapper -->

      {% if entry.enable_comments %}
        {% include 'blog/comments.html' %}
      {% endif %}

  </div> <!-- End of .entry-detail -->

{% endblock content %}

{% block js %}
  <script src="{% static 'js/prism.js' %}"></script>
{% endblock js %}
